/* Colours */

a:link{
  text-decoration: none!important;
}

body {
  background-color: #88CCF1;
  font-family: 'Source Sans Pro', sans-serif;
  color: #393E41;
  overflow-x: hidden;
}

.header-top {
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A855C;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-family: 'Train One', sans-serif;
    font-size: 70px;
    padding-bottom: 20px;
}

h2 a:hover {
        color: #EF2D56;
}

h2 a {
        color: #0A855C;
}

.intro {
    font-size: 1.3em;
    text-align: center;
}

.difficulty-title {
    font-family: 'Train One', sans-serif;
    font-size: 35px;
    letter-spacing: 0.2em;
    font-weight: 100;
    background-color: #EF2D56;
    color: #FFC857;
    padding: 15px;
}

.game-over-text {
    font-family: 'Train One', sans-serif;
    font-size: 35px;
    letter-spacing: 0.2em;
    font-weight: 100;
    background-color: #EF2D56;
    color: #FFC857;
    padding: 15px;
    border-radius: 12px;
}


/* Buttons */

.difficulty {
    padding: 20px 20px;
    text-align: center;
}

 .difficulty-btn {
  font-size: 30px;
  font-weight: 600;
  color: #EF2D56;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #FFC857;
}

.screen-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: background-color 500ms, font-size 500ms;
}

.screen-cover.visible {
    flex-direction: column;
    display: flex;
    animation: game-screen 1000ms forwards;
}

@keyframes game-screen {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 5em;
    }
}

/* Game Info */

.info {
    font-family: 'Train One', sans sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.info-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin: left;
    padding-right: 12%;
}

/* Grids */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    text-align: center;
    position: relative;
    margin: auto;
    grid-gap: 10px;
    padding-left: 25%;
    padding-right: 20%;
    padding-bottom: 10%;
    align-items: center;
    justify-content: center;
}

.grid-item {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.item-face {
    height: 100px;
    width: 100px;
    border-radius: 12px;
}

/* Item Backs */

.item-back {
    position: absolute;
    font-family: 'Train One', sans-serif;
    background-color: #393E41;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    color: #EF2D56;
    padding-top: 0.25em;
    font-size: 50px;
    font-weight: 700;
}

/* Item Fronts */

.item-back:hover {
    border: 3px solid #EF2D56;
    transition: 100ms ease-in-out;
}

.grid-item.visible .item-back {
    transform: rotateY(-180deg);
}

.grid-item.visible .item-front {
    transform: rotateY(0);
}

/* Media Responsiveness */

@media (max-width: 680px) {
  .grid-container {
    padding: 2% 2% 2% 2%;
  }
  .item-back {
    height: 78px;
    width: 78px;
    }
  .item-back {
    font-size: 35px;
    padding-top: 0.25em;
    }
  .item-face {
    height: 78px;
    width: 78px;
    }
  .item-front {
    height: 78px;
    width: 78px;
    }
  h2 {
    font-family: 'Train One', sans-serif;
    font-size: 50px;
    }
  header {
      padding-top: 20px;
      padding-bottom: 15px;
  }
  }