/* Colours */

a:link{
  text-decoration: none!important;
}

body {
  background-color: #88CCF1;
  font-family: 'Source Sans Pro';
  color: #393E41;
}

.header-top {
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A855C;
    padding-top: 100px;
    padding-bottom: 50px;
}

h2 {
    font-family: 'Train One';
    font-size: 70px;
}

h2 a {
        color: #0A855C;
}

.intro {
    font-size: 1.3em;
    text-align: center;
}

.difficulty-title {
    font-family: 'Train One';
    font-size: 35px;
    letter-spacing: 0.2em;
    font-weight: 100;
    background-color: #EF2D56;
    color: #FFC857;
    padding: 20px;
    border-radius: 12px;
}


/* Homepage Buttons */

.difficulty {
    padding: 20px 20px;
    text-align: center;
}

 .difficulty-btn {
  font-size: 30px;
  font-weight: 600;
  color: #EF2D56;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #FFC857;
}
